@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #111;
    color: #eee;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

textarea,
code {
    font-family: "Inter", sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
